@import "css/reset.css";/* thes two lines */
@import "css/normalize.css";/* call our files */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;/*adds color */
	background: #f1f1f1;/* this adds a background color*/
}

.wrap {
	width: 88%;
	min-height: 330px;
	background: #ff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6%;
}